@background-color: #111;
@text-color: #aaa;
@user-color: lawngreen;
@font-size: 16px;
* {
  margin: 0;
  padding: 0;
}

body, h1 {
  background: @background-color;
  font: @font-size/18px "Courier New", Courier, mono;
  color: @text-color;
}

div.wrap {
  width: 900px;
  margin: 100px auto 0;
}

a {
  text-decoration: none;
  color: @text-color;
}

a:hover {
  text-decoration-line: underline;
}

ul {
  list-style: none;
  margin-left: 30px;
}

.user {
  color: @user-color;
}

.user-end {
  color: @text-color;
}

@keyframes blink {
  0% {
    font-size: @font-size;
    color: @text-color;
  }
  50% {
    font-size: @font-size;
    color: @text-color;
  }
  50.01% {
    font-size: @font-size;
    color: @background-color;
  }
  99.99% {
    font-size: @font-size;
    color: @background-color;
  }
  100% {
    font-size: @font-size;
    color: @background-color;
  }
}

@keyframes load {
  0% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}

@keyframes hidden {
  0% {
    visibility: hidden;
  }
  100% {
    visibility: hidden;
  }
}

.step-loop (@i) when (@i <= 12) {
  .step-@{i} {
    animation-delay: 0s, ~"@{i}s";
    animation-duration: ~"@{i}s", 2s;
    animation-name: hidden, load;
  }
  .step-loop(@i + 1);
}

.blink-loop (@i) when (@i <= 12) {
  .blink-@{i} {
    color: @background-color;
    font-size: 0;
    animation-duration: .5s;
    animation-delay: ~"@{i}s";
    animation-name: blink;
    animation-iteration-count: 2;
  }
  .blink-loop(@i + 1);
}

.blink2-loop (@i) when (@i <= 8) {
  .blink2-@{i} {
    color: @background-color;
    font-size: 0;
    animation-duration: .5s;
    animation-delay: ~"@{i}s";
    animation-name: blink;
    animation-iteration-count: 4;
  }
  .blink2-loop(@i + 4);
}

@time: 13;
.step-loop(2);
.blink-loop(2);
.blink2-loop(0);

.blink {
  color: @background-color;
  animation: blink .50s linear ~"@{time}s" infinite;
}