* {
  margin: 0;
  padding: 0;
}
body {
  background: #111;
  font: 16px/18px "Courier New", Courier, mono;
  color: #fff;
}
div.wrap {
  width: 900px;
  margin: 100px auto 0;
}
a {
  text-decoration: none;
  color: #fff;
}
h1,
a {
  font: 16px/18px "Courier New", Courier, mono;
  color: #999;
}
a:hover {
  text-decoration-line: underline;
}
ul {
  list-style: none;
  margin-left: 30px;
}
.user {
  color: lawngreen;
}
.user-end {
  color: #aaa;
}
@keyframes blink {
  0% {
    font-size: 16px;
    color: #aaa;
  }
  50% {
    font-size: 16px;
    color: #aaa;
  }
  50.01% {
    font-size: 16px;
    color: #111;
  }
  99.99% {
    font-size: 16px;
    color: #111;
  }
  100% {
    font-size: 16px;
    color: #111;
  }
}
@keyframes load {
  0% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}
@keyframes hidden {
  0% {
    visibility: hidden;
  }
  100% {
    visibility: hidden;
  }
}
.step-13 {
  animation-delay: 0s, 13s;
  animation-duration: 13s, 2s;
  animation-name: hidden, load;
}
.blink-13 {
  color: #111;
  font-size: 0;
  animation-duration: .5s;
  animation-delay: 13s;
  animation-name: blink;
  animation-iteration-count: 2;
}
.blink2-13 {
  color: #111;
  font-size: 0;
  animation-duration: .5s;
  animation-delay: 13s;
  animation-name: blink;
  animation-iteration-count: 4;
}
.step-12 {
  animation-delay: 0s, 12s;
  animation-duration: 12s, 2s;
  animation-name: hidden, load;
}
.blink-12 {
  color: #111;
  font-size: 0;
  animation-duration: .5s;
  animation-delay: 12s;
  animation-name: blink;
  animation-iteration-count: 2;
}
.blink2-12 {
  color: #111;
  font-size: 0;
  animation-duration: .5s;
  animation-delay: 12s;
  animation-name: blink;
  animation-iteration-count: 4;
}
.step-11 {
  animation-delay: 0s, 11s;
  animation-duration: 11s, 2s;
  animation-name: hidden, load;
}
.blink-11 {
  color: #111;
  font-size: 0;
  animation-duration: .5s;
  animation-delay: 11s;
  animation-name: blink;
  animation-iteration-count: 2;
}
.blink2-11 {
  color: #111;
  font-size: 0;
  animation-duration: .5s;
  animation-delay: 11s;
  animation-name: blink;
  animation-iteration-count: 4;
}
.step-10 {
  animation-delay: 0s, 10s;
  animation-duration: 10s, 2s;
  animation-name: hidden, load;
}
.blink-10 {
  color: #111;
  font-size: 0;
  animation-duration: .5s;
  animation-delay: 10s;
  animation-name: blink;
  animation-iteration-count: 2;
}
.blink2-10 {
  color: #111;
  font-size: 0;
  animation-duration: .5s;
  animation-delay: 10s;
  animation-name: blink;
  animation-iteration-count: 4;
}
.step-9 {
  animation-delay: 0s, 9s;
  animation-duration: 9s, 2s;
  animation-name: hidden, load;
}
.blink-9 {
  color: #111;
  font-size: 0;
  animation-duration: .5s;
  animation-delay: 9s;
  animation-name: blink;
  animation-iteration-count: 2;
}
.blink2-9 {
  color: #111;
  font-size: 0;
  animation-duration: .5s;
  animation-delay: 9s;
  animation-name: blink;
  animation-iteration-count: 4;
}
.step-8 {
  animation-delay: 0s, 8s;
  animation-duration: 8s, 2s;
  animation-name: hidden, load;
}
.blink-8 {
  color: #111;
  font-size: 0;
  animation-duration: .5s;
  animation-delay: 8s;
  animation-name: blink;
  animation-iteration-count: 2;
}
.blink2-8 {
  color: #111;
  font-size: 0;
  animation-duration: .5s;
  animation-delay: 8s;
  animation-name: blink;
  animation-iteration-count: 4;
}
.step-7 {
  animation-delay: 0s, 7s;
  animation-duration: 7s, 2s;
  animation-name: hidden, load;
}
.blink-7 {
  color: #111;
  font-size: 0;
  animation-duration: .5s;
  animation-delay: 7s;
  animation-name: blink;
  animation-iteration-count: 2;
}
.blink2-7 {
  color: #111;
  font-size: 0;
  animation-duration: .5s;
  animation-delay: 7s;
  animation-name: blink;
  animation-iteration-count: 4;
}
.step-6 {
  animation-delay: 0s, 6s;
  animation-duration: 6s, 2s;
  animation-name: hidden, load;
}
.blink-6 {
  color: #111;
  font-size: 0;
  animation-duration: .5s;
  animation-delay: 6s;
  animation-name: blink;
  animation-iteration-count: 2;
}
.blink2-6 {
  color: #111;
  font-size: 0;
  animation-duration: .5s;
  animation-delay: 6s;
  animation-name: blink;
  animation-iteration-count: 4;
}
.step-5 {
  animation-delay: 0s, 5s;
  animation-duration: 5s, 2s;
  animation-name: hidden, load;
}
.blink-5 {
  color: #111;
  font-size: 0;
  animation-duration: .5s;
  animation-delay: 5s;
  animation-name: blink;
  animation-iteration-count: 2;
}
.blink2-5 {
  color: #111;
  font-size: 0;
  animation-duration: .5s;
  animation-delay: 5s;
  animation-name: blink;
  animation-iteration-count: 4;
}
.step-4 {
  animation-delay: 0s, 4s;
  animation-duration: 4s, 2s;
  animation-name: hidden, load;
}
.blink-4 {
  color: #111;
  font-size: 0;
  animation-duration: .5s;
  animation-delay: 4s;
  animation-name: blink;
  animation-iteration-count: 2;
}
.blink2-4 {
  color: #111;
  font-size: 0;
  animation-duration: .5s;
  animation-delay: 4s;
  animation-name: blink;
  animation-iteration-count: 4;
}
.step-3 {
  animation-delay: 0s, 3s;
  animation-duration: 3s, 2s;
  animation-name: hidden, load;
}
.blink-3 {
  color: #111;
  font-size: 0;
  animation-duration: .5s;
  animation-delay: 3s;
  animation-name: blink;
  animation-iteration-count: 2;
}
.blink2-3 {
  color: #111;
  font-size: 0;
  animation-duration: .5s;
  animation-delay: 3s;
  animation-name: blink;
  animation-iteration-count: 4;
}
.step-2 {
  animation-delay: 0s, 2s;
  animation-duration: 2s, 2s;
  animation-name: hidden, load;
}
.blink-2 {
  color: #111;
  font-size: 0;
  animation-duration: .5s;
  animation-delay: 2s;
  animation-name: blink;
  animation-iteration-count: 2;
}
.blink2-2 {
  color: #111;
  font-size: 0;
  animation-duration: .5s;
  animation-delay: 2s;
  animation-name: blink;
  animation-iteration-count: 4;
}
.step-1 {
  animation-delay: 0s, 1s;
  animation-duration: 1s, 2s;
  animation-name: hidden, load;
}
.blink-1 {
  color: #111;
  font-size: 0;
  animation-duration: .5s;
  animation-delay: 1s;
  animation-name: blink;
  animation-iteration-count: 2;
}
.blink2-1 {
  color: #111;
  font-size: 0;
  animation-duration: .5s;
  animation-delay: 1s;
  animation-name: blink;
  animation-iteration-count: 4;
}
.step-0 {
  animation-delay: 0s, 0s;
  animation-duration: 0s, 2s;
  animation-name: hidden, load;
}
.blink-0 {
  color: #111;
  font-size: 0;
  animation-duration: .5s;
  animation-delay: 0s;
  animation-name: blink;
  animation-iteration-count: 2;
}
.blink2-0 {
  color: #111;
  font-size: 0;
  animation-duration: .5s;
  animation-delay: 0s;
  animation-name: blink;
  animation-iteration-count: 4;
}
.blink {
  color: #111;
  animation: blink 0.5s linear 13s infinite;
}
