@background-color: #111;
@text-color: #aaa;
@user-color: lawngreen;
@font-size: 16px;
* {
  margin: 0;
  padding: 0;
}

body, h1 {
  background: @background-color;
  font: @font-size/18px "Courier New", Courier, mono;
  color: @text-color;
}

div.wrap {
  width: 900px;
  margin: 100px auto 0;
}

a {
  text-decoration: none;
  color: @text-color;
}

a:hover {
  text-decoration-line: underline;
}

ul {
  list-style: none;
  margin-left: 30px;
}

.user {
  color: @user-color;
}

.user-end {
  color: @text-color;
}

@keyframes blink {
  0% {
    color: @text-color;
  }
  50% {
    color: @text-color;
  }
  50.01% {
    color: @background-color;
  }
  100% {
    color: @background-color;
  }
}

@keyframes load {
  0% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}

@keyframes hidden {
  0% {
    visibility: hidden;
  }
  100% {
    visibility: hidden;
  }
}

@time: 6;
.step-loop (@i) when (@i < @time) {
  .step-@{i} {
    animation-delay: 0s, ~"@{i}s";
    animation-duration: ~"@{i}s", 2s;
    animation-name: hidden, load;
  }
  @j: @i + 0.5;
  .step-@{i}-5 {
    animation-delay: 0s, ~"@{j}s";
    animation-duration: ~"@{j}s", 2s;
    animation-name: hidden, load;
  }
  .step-loop(@i + 1);
}

.step-loop(0);

.blink2-0 {
  color: @background-color;
  animation: blink .50s linear 0s 4;

}
.blink-2 {
  color: @background-color;
  animation: blink .50s linear 2s 2;
}

.blink {
  color: @background-color;
  animation: blink .50s linear ~"@{time}s" infinite;
}