* {
  margin: 0;
  padding: 0;
}
body,
h1 {
  background: #111;
  font: 16px/18px "Courier New", Courier, mono;
  color: #aaa;
}
div.wrap {
  width: 900px;
  margin: 100px auto 0;
}
a {
  text-decoration: none;
  color: #aaa;
}
a:hover {
  text-decoration-line: underline;
}
ul {
  list-style: none;
  margin-left: 30px;
}
.user {
  color: lawngreen;
}
.user-end {
  color: #aaa;
}
@keyframes blink {
  0% {
    color: #aaa;
  }
  50% {
    color: #aaa;
  }
  50.01% {
    color: #111;
  }
  100% {
    color: #111;
  }
}
@keyframes load {
  0% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}
@keyframes hidden {
  0% {
    visibility: hidden;
  }
  100% {
    visibility: hidden;
  }
}
.step-0 {
  animation-delay: 0s, 0s;
  animation-duration: 0s, 2s;
  animation-name: hidden, load;
}
.step-0-5 {
  animation-delay: 0s, 0.5s;
  animation-duration: 0.5s, 2s;
  animation-name: hidden, load;
}
.step-1 {
  animation-delay: 0s, 1s;
  animation-duration: 1s, 2s;
  animation-name: hidden, load;
}
.step-1-5 {
  animation-delay: 0s, 1.5s;
  animation-duration: 1.5s, 2s;
  animation-name: hidden, load;
}
.step-2 {
  animation-delay: 0s, 2s;
  animation-duration: 2s, 2s;
  animation-name: hidden, load;
}
.step-2-5 {
  animation-delay: 0s, 2.5s;
  animation-duration: 2.5s, 2s;
  animation-name: hidden, load;
}
.step-3 {
  animation-delay: 0s, 3s;
  animation-duration: 3s, 2s;
  animation-name: hidden, load;
}
.step-3-5 {
  animation-delay: 0s, 3.5s;
  animation-duration: 3.5s, 2s;
  animation-name: hidden, load;
}
.step-4 {
  animation-delay: 0s, 4s;
  animation-duration: 4s, 2s;
  animation-name: hidden, load;
}
.step-4-5 {
  animation-delay: 0s, 4.5s;
  animation-duration: 4.5s, 2s;
  animation-name: hidden, load;
}
.step-5 {
  animation-delay: 0s, 5s;
  animation-duration: 5s, 2s;
  animation-name: hidden, load;
}
.step-5-5 {
  animation-delay: 0s, 5.5s;
  animation-duration: 5.5s, 2s;
  animation-name: hidden, load;
}
.blink2-0 {
  color: #111;
  animation: blink .50s linear 0s 4;
}
.blink-2 {
  color: #111;
  animation: blink .50s linear 2s 2;
}
.blink {
  color: #111;
  animation: blink 0.5s linear 6s infinite;
}
